@font-face {
	font-family: 'Didot Title';
	src: url(../../assets/fonts/DidotTitle.woff2) format('woff2'),
	url(../../assets/fonts/DidotTitle.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}